/* NAVBAR */

.navbar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}

/* INTRO */

.intro_div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
  padding-bottom: 100px;
}

.intro_div > h3 {
  padding-top: 50px;
  font-size: 45px;
}

/* ABOUT */

.about_div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.about_div > div {
  width: 800px;
  /* margin-right: 100px; */
}

/* PROJECTS */

.projects_div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.projects_div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project_div {
  margin: 50px;
  width: fit-content;
}

.project_div > a > h3 {
  font-size: smaller;
  text-align: center;
  color: white;
}

/* CONTACT */

.contact_div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  padding-bottom: 50px;
}

.contact_div > div {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
