@media screen and (min-width: 550px) {
  .project_info_body {
    justify-content: space-between;
  }
  .image_div {
    margin-left: 50px;
    width: 550px;
    min-width: 550px;
    height: 330px;
  }
  .project_info_img {
    width: auto;
    height: 330px;
  }
  .scroll_button {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .project_info_body {
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .image_div {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .project_info_img {
    width: 110%;
    margin-left: -5%;
    height: auto;
  }
  .mockup_icon {
    display: none;
  }
  .other_projects_div {
    width: max-content;
    overflow: scroll;
  }
  .scroll_button {
    display: none;
  }
}

.project_info_div {
  padding-top: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project_info_body {
  margin-top: 20px;
  display: flex;
}

.project_info_body > div > h2 {
  margin-top: 20px;
  font-size: larger;
  font-weight: 700;
}

.project_info_body div:first-child {
  margin-top: 20px;
}

.product_info_link {
  margin-top: 50px;
}

.product_info_link p:first-child {
  margin-bottom: 2px;
}

.product_info_link > p > a {
  text-decoration: none;
  color: red;
}

.image_div {
  position: relative;
  display: flex;
  justify-content: center;
}

.icons_div {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.mockup_icon {
  width: auto;
  height: 40px;
  background-color: white;
  border-radius: 20%;
  padding: 2px;
  cursor: pointer;
}

.other_projects_div {
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
  display: flex;
}

.other_projects_div_2 {
  width: 120%;
  max-width: 120%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.other_projects_div_2::-webkit-scrollbar {
  display: none;
}

.scroll_button {
  position: relative;
  width: 30px;
  height: auto;
}

.scroll_icon {
  position: absolute;
  top: 30%;
  width: 30px;
  height: 30px;
  border-radius: 60%;
  background-color: white;
}
