.project_info_div {
  padding-top: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project_info_body {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.project_info_body > div > h2 {
  margin-top: 20px;
  font-size: larger;
  font-weight: 700;
}

.project_info_body div:first-child {
  margin-top: 20px;
}

.product_info_link {
  margin-top: 50px;
}

.product_info_link p:first-child {
  margin-bottom: 2px;
}

.product_info_link > p > a {
  text-decoration: none;
  color: red;
}

.image_div {
  position: relative;
  margin-left: 50px;
  width: 550px;
  min-width: 550px;
  height: 330px;
  display: flex;
  justify-content: center;
}

.icons_div {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.mockup_icon {
  width: auto;
  height: 40px;
  background-color: white;
  border-radius: 20%;
  padding: 2px;
  cursor: pointer;
}

.other_projects_div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
